.modalBoxOuter {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 70vh;
    width: 70vw;
    background-color: var(--dark-blue);
    justify-self: center;
    margin-top: 15vh;
    color: var( --textbox-off-white);
  }

  .modalBoxInner {

  }

