.box-container {
  background-color: #4a4a4a; 
  color: white;
  padding: 16px;
  border-radius: 15px;
  min-width: 200px; 
  min-height: 150px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.inner-box {
  background-color: #e0e0e0; 
  color: black;
  padding: 16px;
  border-radius: 10px;
  flex-grow: 1;
  overflow: hidden;
}
