.box-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

h6 {
  color: #FFF;
  font-family: Georgia;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.results-content {
  display: flex;
  flex-direction: row;
  height: 90%;
  margin-top: 2%;
  justify-content: space-between;
}

.inner-box {
  display: flex;
  background-color: var(--textbox-off-white); 
  color: black;
  padding: 16px;
  margin-top: 3%;
  height: 80%;
}

.inner-box-expanded {
  display: flex;
  background-color: var(--textbox-off-white); 
  color: black;
  padding: 16px;
  width: 60%;
  height: 100%;
}

.score-tag {
  background-color: var(--textbox-off-white);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 33%;
  height: 10%;
  align-self: center;
  border-radius: 8px;
  align-content: center;
  justify-content: center;
}

.score-card {
  background-color: var(--textbox-off-white);
  display: flex;
  line-height: 20px;
  text-align: center;
  width: 35%;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.line {
  border-bottom: 1.5px solid var(--burgundy);
}
