.box-container {
  background-color: #4a4a4a; 
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

h6 {
  color: #FFF;
  font-family: Georgia;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inner-box {
  background-color: #e0e0e0; 
  color: black;
  padding: 16px;
  border-radius: 10px;
  flex-grow: 1;
  overflow: hidden;
  margin: 10px;
}
