.resultspage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
}

.resultsdisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chatbotdisplay {
    position: fixed;
}