
.resultspage {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh;
    width: 100vw;
}

.resultsdisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chatbotdisplay {
    position: fixed;
    right: 0;
    bottom: 0;
}