
.resultsdisplay {
    position: fixed;
    left: 0;
    top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    height: 93vh;
    overflow-y: auto;
    background-color: var(--background-off-white);
    z-index: 0;
}

.resultsCentered {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeChat {
    position: fixed; 
    text-align: center;
    top: 2vh;
    right: 3vw;
    margin-top: 7vh;
    background-color: var(--background-off-white);
    border-color: var(--gray);
    color: var(--gray);
    cursor: pointer;
    z-index: 10; 
}

.closeChat:hover {
    background: gray;
}

.openChat {
    position: fixed; 
    bottom: 2vh;
    right: 2vw;
    margin-top: 7vh;
    background-color: var(--gray);
    color: var(--textbox-off-white);
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10; 
}

.openChat:hover {
    background: gray;
}

.resultsAndInfo {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;
    margin-left: 5%; 
}

.openModal {
    margin: 5px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.openModal:hover {
    margin: 5px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.openModal:active {
    margin: 5px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.openModal:focus, .openModal:focus-visible {
    margin: 5px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.infoImage {
    width: 30px;
    height: 30px;
}