:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fffaee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  color: #6d2b22;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000;
  font-family: Georgia;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  padding: 0.3em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #416774;
  cursor: pointer;
  border: none;
  color: white;
}
button:hover {
  background-color: #203f72;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
